/*Estrutura da Pagina*/
*{
	padding: 0;
	margin: 0;
}
body{
	background:  url('../img/capa.png'), url('../img/ruido.png'), -o-linear-gradient(40deg, #ff4169, #7c26f8) repeat fixed;
	background:  url('../img/capa.png'), url('../img/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8) repeat fixed;
	background-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}
.clear{
	clear: both;
}
/* Cabeçalho */
header{
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav li>a{
	color: white;
	font-weight: bold;
}

#divisor{
	margin: 10px 15px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .25rem;
}

/* Capa */
#home{
	height: 100vh;
}
#capa{
	color: white;
	text-align: center;
}
#capa h1{
	letter-spacing: -0.05em;
	font-weight: bold;
	font-size: 6em;
} 	
.btn-free, .btn-premium{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 60px;
	margin-top: 5px;
}
.btn-free{
	background-color: #7c25f8;
}
.btn-premium{
	background-color: rgba(0, 0, 0, 0.0);
	border: 2px solid white;
}

/* Conteúdos */
.Conteudo{
	height: 75vh;
}
.Colunas{
	width: 49vw;
	border: 2px solid black;
}

/* Hovers */
.navbar-nav li>a:hover{
	color: #9bf0e1;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.btn-free:hover{
	background-color: #6207e3;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-premium:hover{
	background-color: white;
	color: black;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;	
}
.cc{
	height: 100vh;
}
.ss{
	height: auto;
	border: 2px solid black;
}

/* Dispositivos Super Pequenos */
@media (min-width: 240px) and (max-width: 279px){
	#capa h1{
		margin-top: 90px;
		font-size: 2em;
	} 	
	.btn-free{
		width: 100vw;
		font-size: 0.8em;
	}
	.btn-premium{
		width: 100vw;
		font-size: 0.8em;
	}			
}
@media (min-width: 280px) and (max-width: 340px){
	#capa h1{
		font-size: 3em;
	} 	
	.btn-free{
		width: 100vw;
		font-size: 0.8em;
	}	
	.btn-premium{
		width: 100vw;
		font-size: 0.8em;
	}		
}