/*Estrutura da Pagina*/
*{
	padding: 0;
	margin: 0;
}
body{
	background:  url('../img/capa.png'), url('../img/ruido.png'), -o-linear-gradient(40deg, #ff4169, #7c26f8) repeat;
	background:  url('../img/capa.png'), url('../img/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8) repeat;
	background-attachment: fixed;
	background-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}
.clear{
	clear: both;
}

/* Cabeçalho */
header{
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav li>a{
	color: white;
	font-weight: bold;
}

#divisor{
	margin: 10px 15px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .25rem;
}

/* Capa */
.col-md-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0 !important;
}
#home{
	height: 95vh;
}
#capa{
	color: white;
  	text-align: center;
}
#capa h1{
	letter-spacing: -0.05em;
	font-weight: bold;
	font-size: 6em;
} 	
.btn-free, .btn-premium{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 60px;
	margin: 5px auto;
}
.btn-free{
	background-color: #7c25f8;
}
.btn-premium{
	background-color: rgba(0, 0, 0, 0.0);
	border: 2px solid white;
}

/* Conteúdos */
#Servicos{
	width: 100%;
}
.imagens{
	width: 240px;
	height: 240px;
	z-index: 1;
	position: absolute;
}
.album{
	margin: 25px auto;
}
.separa{
	width: 100%;
	height: 15px;
}
.informacao{
	width: 240px;
	height: 240px;
	background: url('../img/Background Vinil.gif') no-repeat;
	background-size: cover;
	z-index: 0;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: bold;	
}
.btn-color{
	background-color: #7c25f8;
	border-radius: 0px 60px 60px 0px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}	
.coluna1-prim{
	width: 50%;
}
.coluna2{
	width: 50%;
}
.coluna2 h2, .coluna2 h3{
	margin-bottom: 25px;
	color: #7c25f8;
	font-weight: 900;
	letter-spacing: -0.05em;
}
#linha2{
	display: none;
}

/* Recursos */
#recursos{
	padding: 20px 0px;
}
#opcao h3{
	color: #9bf0e1;
	font-weight: bold;
}
#opcao h2{
	font-weight: bold;
	color: white;
}
#opcao p{
	color: white;
}	
#opcao p, #opcao h2, #opcao h3{
	margin-left: 25px;
}
#celulares .row{
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
	padding: 30px;
}
.caixas{
	width: 93%;
}

/* Rodapé */
footer{
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	background: black;
	height: 20vh;
	position: absolute;
}
footer span>h5{
	color: whitesmoke;
	text-align: center;
}
.rodape ul{
	list-style: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
}
.rodape h5{
	text-transform: uppercase;
	color: #919496;
}
.iconerodape a{
	margin: 0 25px;
}

/* Hovers */
.navbar-nav li>a:hover{
	color: #9bf0e1;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.btn-free:hover{
	background-color: #6207e3;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-premium:hover{
	background-color: white;
	color: black;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;	
}
.musica-play{
	margin-top: 10px;
	scroll-margin-right: auto;
	border-radius: 60px;
	background-color: #7c25f8;
	font-weight: bold;
	color: white;
	display: block;
}
.iconerodape a>img:hover{
	transform: scale(1.1);
	transition: all 0.5s;
}

/* Animação */
@-webkit-keyframes surgi{
	from{
		margin-left: 0px;
	}
	to{
		margin-left: 240px;
	}
}
@keyframes surgi{
	from{
		margin-left: 0px;
	}
	to{
		margin-left: 240px;
	}
}

@-webkit-keyframes saida{
	from{
		margin-left: 240px;
	}
	to{
		margin-left: 0px;
	}
}

@keyframes saida{
	from{
		margin-left: 240px;
	}
	to{
		margin-left: 0px;
	}
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) { 
	body{
		font-size: 12px;
	}	
	footer{  
		height: auto;
	}	
	#capa h1{
		margin-top: 90px;
		font-size: 3em;
	} 	
	.btn-free{
		width: 100%;
		font-size: 0.8em;
	}
	.btn-premium{
		width: 100%;
		font-size: 0.8em;
	}		
	.informacao{
		width: 120px;
		height: 120px;
	}	
	.imagens{
		width: 120px;
		height: 120px;
	}	
	.coluna1-prim{
		width: 100%;
	}
	.coluna1-secon{
		width: 100%;
	}
	.coluna2{
		width: 100%;
	}
	.musica-play{
		width: 100%;
		font-size: 0.8em;
	}
	@-webkit-keyframes surgi{
		from{
			margin-left: 0px;
		}
		to{
			margin-left: 120px;
		}
	}
	@keyframes surgi{
		from{
			margin-left: 0px;
		}
		to{
			margin-left: 120px;
		}
	}

	@-webkit-keyframes saida{
		from{
			margin-left: 120px;
		}
		to{
			margin-left: 0px;
		}
	}

	@keyframes saida{
		from{
			margin-left: 120px;
		}
		to{
			margin-left: 0px;
		}
	}	
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	footer{  
		height: auto;
	}	
	.coluna1-prim{
		width: 100%;
	}
	.coluna1-secon{
		width: 100%;
	}
	.coluna2{
		width: 100%;
	}
	.musica-play{
		width: 100%;
		font-size: 0.8em;
	}
}
/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	footer{  
		height: auto;
	}
	.coluna1-prim{
		width: 100%;
	}
	.coluna1-secon{
		width: 100%;
	}
	.coluna2{
		width: 100%;
	}
	.musica-play{
		width: 100%;
		font-size: 0.8em;
	}
}
/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	body{
		font-size: 12px;
	}	
	footer{  
		height: auto;
	}
}